spring-boot-soap-ws-client/src/main/resources/wsdl/loanEligibility.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.spring.soap.api/loaneligibility" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.spring.soap.api/loaneligibility" targetNamespace="http://www.spring.soap.api/loaneligibility">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.spring.soap.api/loaneligibility">
            <xsd:element name="CustomerRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customerName" type="xsd:string"/>
                        <xsd:element name="age" type="xsd:int"/>
                        <xsd:element name="yearlyIncome" type="xsd:long"/>
                        <xsd:element name="cibiScore" type="xsd:int"/>
                        <xsd:element name="employeeMode" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AcknowLedgement">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="isEligible" type="xsd:boolean"/>
                        <xsd:element name="approvedAmount" type="xsd:long"/>
                        <xsd:element maxOccurs="unbounded" name="criteriaMismatch" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CustomerRequest">
        <wsdl:part element="tns:CustomerRequest" name="CustomerRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="LoanEligibilityWS">
        <wsdl:operation name="Customer">
            <wsdl:input message="tns:CustomerRequest" name="CustomerRequest"> </wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LoanEligibilityWSSoap11" type="tns:LoanEligibilityWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Customer">
            <soap:operation soapAction=""/>
            <wsdl:input name="CustomerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LoanEligibilityWSService">
        <wsdl:port binding="tns:LoanEligibilityWSSoap11" name="LoanEligibilityWSSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>